.content-area {
	float: right;
	margin: 0 0 0 (-$size__site-sidebar);
	width: $size__site-main;
}

.site-main {
	margin: 0 0 0 $size__site-sidebar;
}
@media screen and (max-width: 37.5em) {
	.site-main{
		margin: 0 50px;
	}
}
.site-content .widget-area {
	float: left;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
	position: relative;
	bottom: 100%;
	width: 100vw;
	*{
		display: inherit;
		vertical-align: bottom;
	}
	p{
		margin: 0;
		padding: 0;
		height: 80px;
		vertical-align: bottom;
	}
	#timeline{
		position: relative;
		width: 100vw;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		margin: 0;
		padding: 0;
		.decade{
			flex: 1 100%;
			position: relative;
			.timeline-segment{
				height: 20px;
				border-left: 1px solid black;
				width: 10%;
			}
			.timeline-zero-year{
				height: 80px;
				bottom: 0;
				left: 0;
				position: absolute;
			}
			.timeline-item-container{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				.timeline-ball{
					width: 3px;
					height: 3px;
					background: #d2232a;
					margin: 3px;
				}
			}
		}
		.title.hidden{
			display: none;
			opacity: 0;
		}
	}
	span.divider{
		border-left: 1px solid black;
		height: 85px;
		padding: 0 1px;
	}
}
