h1, h2, h3, h4, h5, h6 {
	clear: both;
}
h2.entry-title{
	font-size: 1rem;
	font-weight: normal;
	margin: 0;
}
.site-branding{
	float: left;
	margin-left: 25%;
}
p.site-title, p.site-logo{
	color: #d2232a;
	padding: 1em 0 7px 0;
	margin-bottom: 0;
	a{
		text-decoration: none;
	}
}
p.site-logo{
    margin-top: 0;
    font-family: $font__main;
    //border-right: 8px solid white;
}

p.site-title{
    margin-top: 0;
    font-family: $font__bold;
    //letter-spacing: 1px;
}